{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'core/css/dashboard/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'core/css/dashboard/dataTables.bootstrap5.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'core/css/dashboard/style.css' %}" />
    <title>DataHilo | Analytics</title>
  </head>
  <body>
    <!-- top navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#sidebar"
          aria-controls="offcanvasExample"
        >
          <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
        </button>
        <a
          class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold"
          href="{% url 'dashboard' %}"
          >DataHilo Analytics</a
        >
      </div>
    </nav>
    <!-- top navigation bar -->
    <!-- offcanvas -->
    <div
      class="offcanvas offcanvas-start sidebar-nav bg-dark"
      tabindex="-1"
      id="sidebar"
    >
      <div class="offcanvas-body p-0">
        <nav class="navbar-dark">
          <ul class="navbar-nav">
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3">
                Harbingers of recession and crisis
              </div>
            </li>
            <li>
              <a
                class="nav-link px-3 sidebar-link"
                data-bs-toggle="collapse"
                href="#dashboard"
              >
                <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                <span>indicators</span>
                <span class="ms-auto">
                  <span class="right-icon">
                    <i class="bi bi-chevron-down"></i>
                  </span>
                </span>
              </a>
              <div class="collapse" id="dashboard">
                <ul class="navbar-nav ps-3">
                  <li>
                    <a
                      href="{% url 'treasury_y10_minus_y2' %}"
                      class="nav-link px-3"
                    >
                      <span class="me-2"
                        ><i class="bi bi-speedometer2"></i
                      ></span>
                      <span
                        >10-Year Treasury Constant Maturity Minus 2-Year
                        Treasury</span
                      >
                    </a>
                  </li>
                </ul>
                <ul class="navbar-nav ps-3">
                  <li>
                    <a
                      href="{% url 'motor_vehicle_retail_sales' %}"
                      class="nav-link px-3"
                    >
                      <span class="me-2"
                        ><i class="bi bi-speedometer2"></i
                      ></span>
                      <span
                        >Motor Vehicle Retail Sales: Heavy Weight Trucks</span
                      >
                    </a>
                  </li>
                </ul>
                <ul class="navbar-nav ps-3">
                  <li>
                    <a
                      href="{% url 'unemployment_rate' %}"
                      class="nav-link px-3"
                    >
                      <span class="me-2"
                        ><i class="bi bi-speedometer2"></i
                      ></span>
                      <span>Unemployment Rate</span>
                    </a>
                  </li>
                </ul>
                <ul class="navbar-nav ps-3">
                  <li>
                    <a
                      href="{% url 'federal_funds_effective_rate_and_cpi_usa' %}"
                      class="nav-link px-3"
                    >
                      <span class="me-2"
                        ><i class="bi bi-speedometer2"></i
                      ></span>
                      <span>Federal Funds Effective Rate and CPI in USA</span>
                    </a>
                  </li>
                </ul>
                class="nav-link px-3"
                <ul class="navbar-nav ps-3">
                  <li>
                    <a
                      href="{% url 'treasury_y10_minus_m3' %}"
                      class="nav-link px-3"
                    >
                      <span class="me-2"
                        ><i class="bi bi-speedometer2"></i
                      ></span>
                      <span
                        >10-Year Treasury Constant Maturity Minus 3-Month
                        Treasury Constant Maturity</span
                      >
                    </a>
                  </li>
                </ul>
                <ul class="navbar-nav ps-3">
                  <li>
                    <a
                      href="{% url 'global_price_of_food_index' %}"
                      class="nav-link px-3"
                    >
                      <span class="me-2"
                        ><i class="bi bi-speedometer2"></i
                      ></span>
                      <span>Global price of Food index</span>
                    </a>
                  </li>
                </ul>
                <ul class="navbar-nav ps-3">
                  <li>
                    <a
                      href="{% url 'natural_gas_liquid_composite_price_usa' %}"
                      class="nav-link px-3"
                    >
                      <span class="me-2"
                        ><i class="bi bi-speedometer2"></i
                      ></span>
                      <span>U.S. Natural Gas Liquid Composite Price</span>
                    </a>
                  </li>
                </ul>
                <ul class="navbar-nav ps-3">
                  <li>
                    <a
                      href="{% url 'real_gross_domestic_product' %}"
                      class="nav-link px-3"
                    >
                      <span class="me-2"
                        ><i class="bi bi-speedometer2"></i
                      ></span>
                      <span>Real Gross Domestic Product</span>
                    </a>
                  </li>
                </ul>
                <ul class="navbar-nav ps-3">
                  <li>
                    <a
                      href="{% url 'industrial_production_and_capacity_utilization' %}"
                      class="nav-link px-3"
                    >
                      <span class="me-2"
                        ><i class="bi bi-speedometer2"></i
                      ></span>
                      <span
                        >Industrial Production, Capacity Utilization and
                        PMI</span
                      >
                    </a>
                  </li>
                </ul>
                <ul class="navbar-nav ps-3">
                  <li>
                    <a href="{% url 'initial_claims' %}" class="nav-link px-3">
                      <span class="me-2"
                        ><i class="bi bi-speedometer2"></i
                      ></span>
                      <span>Initial Claims</span>
                    </a>
                  </li>
                </ul>
                <ul class="navbar-nav ps-3">
                  <li>
                    <a
                      href="{% url 'real_personal_consumption_expenditures' %}"
                      class="nav-link px-3"
                    >
                      <span class="me-2"
                        ><i class="bi bi-speedometer2"></i
                      ></span>
                      <span>Real Personal Consumption Expenditures</span>
                    </a>
                  </li>
                </ul>
                <ul class="navbar-nav ps-3">
                  <li>
                    <a
                      href="{% url 'advance_retail_sales_retail_trade' %}"
                      class="nav-link px-3"
                    >
                      <span class="me-2"
                        ><i class="bi bi-speedometer2"></i
                      ></span>
                      <span>Advance Retail Sales: Retail Trade</span>
                    </a>
                  </li>
                </ul>
                <ul class="navbar-nav ps-3">
                  <li>
                    <a
                      href="{% url 'merchant_wholesalers_sales' %}"
                      class="nav-link px-3"
                    >
                      <span class="me-2"
                        ><i class="bi bi-speedometer2"></i
                      ></span>
                      <span>Merchant Wholesalers Sales</span>
                    </a>
                  </li>
                </ul>
                <ul class="navbar-nav ps-3">
                  <li>
                    <a
                      href="{% url 'total_business_inventories' %}"
                      class="nav-link px-3"
                    >
                      <span class="me-2"
                        ><i class="bi bi-speedometer2"></i
                      ></span>
                      <span>Total Business Inventories</span>
                    </a>
                  </li>
                </ul>
                <ul class="navbar-nav ps-3">
                  <li>
                    <a
                      href="{% url 'total_consumer_credit_outstanding_usa' %}"
                      class="nav-link px-3"
                    >
                      <span class="me-2"
                        ><i class="bi bi-speedometer2"></i
                      ></span>
                      <span>US Total Consumer Credit Outstanding</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                Interface
              </div>
            </li>
            <li>
              <a
                class="nav-link px-3 sidebar-link"
                data-bs-toggle="collapse"
                href="#layouts"
              >
                <span class="me-2"><i class="bi bi-layout-split"></i></span>
                <span>Layouts</span>
                <span class="ms-auto">
                  <span class="right-icon">
                    <i class="bi bi-chevron-down"></i>
                  </span>
                </span>
              </a>
              <div class="collapse" id="layouts">
                <ul class="navbar-nav ps-3">
                  <li>
                    <a href="#" class="nav-link px-3">
                      <span class="me-2"
                        ><i class="bi bi-speedometer2"></i
                      ></span>
                      <span>Dashboard</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-book-fill"></i></span>
                <span>Pages</span>
              </a>
            </li>
            <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                Addons
              </div>
            </li>
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-graph-up"></i></span>
                <span>Charts</span>
              </a>
            </li>
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-table"></i></span>
                <span>Tables</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- offcanvas -->
    <main class="mt-5 pt-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="card h-100">
              <div class="card-header">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                {{initial_claims.title}} Current Chart
              </div>
              <iframe
                src="https://fred.stlouisfed.org/graph/graph-landing.php?g=WVWA&width=670&height=475"
                scrolling="no"
                frameborder="0"
                style="overflow: hidden; width: 700px; height: 525px"
                allowTransparency="true"
                loading="lazy"
              ></iframe>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="card h-100">
              <div class="card-header">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                {{initial_claims.title}} Chart by TradingView
              </div>
              <div class="card-body">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                  <div id="tradingview_9eee7"></div>
                  <div class="tradingview-widget-copyright">
                    <a
                      href="https://www.tradingview.com/symbols/FRED-ICSA/"
                      rel="noopener"
                      target="_blank"
                      ><span class="blue-text">ICSA Chart</span></a
                    >
                    by TradingView
                  </div>
                  <script
                    type="text/javascript"
                    src="https://s3.tradingview.com/tv.js"
                  ></script>
                  <script type="text/javascript">
                    new TradingView.widget({
                      width: 740,
                      height: 525,
                      symbol: "FRED:ICSA",
                      interval: "D",
                      timezone: "Etc/UTC",
                      theme: "dark",
                      style: "1",
                      locale: "en",
                      toolbar_bg: "#f1f3f6",
                      enable_publishing: false,
                      allow_symbol_change: true,
                      container_id: "tradingview_9eee7",
                    });
                  </script>
                </div>
                <!-- TradingView Widget END -->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3">
            <div class="card">
              <div class="card-header">
                <span><i class="bi bi-table me-2"></i></span>
                <h3>Initial Claims</h3>
              </div>
              <div>
                <p>
                  <i>
                    We are talking about the unemployment rate and its leading
                    indicator — the number of applications for unemployment
                    benefits. In the US, these indicators are evaluated monthly
                    by the Bureau of Labor Statistics (BLS), Since businesses
                    experience problems and go bankrupt during a recession,
                    unemployment usually rises sharply</i
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="{% static 'core/js/dashboard/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script src="{% static 'core/js/dashboard/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'core/js/dashboard/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'core/js/dashboard/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'core/js/dashboard/script.js' %}"></script>
  </body>
</html>
